* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%; }

.container {
  width: 95%;
  min-width: 290px;
  max-width: 1440px;
  margin: 0 auto; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.visible {
  display: block !important; }

.header__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 24px; }

.header__head img {
  width: auto;
  height: auto; }

.header__head i {
  font-size: 36px;
  font-weight: 600; }

.header__nav {
  display: none; }

.header__nav--item {
  margin-bottom: 16px; }

.header__nav--item a span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #4f5665; }

.header__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; }

.header__buttons a span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #0b132a;
  border: 1px solid #0b132a;
  padding: 13px 45px;
  border-radius: 50px; }

.btn-orange {
  color: #f53838 !important;
  border: 1px solid #f53838 !important;
  border-radius: 50px; }

.hero {
  margin: 40px 0; }

.hero__text--h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 7rem;
  color: #0b132a;
  margin-bottom: 2rem; }

.hero__text--h1 span {
  font-weight: 700; }

.hero__text--p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin-bottom: 5rem; }

.hero__text--p span {
  font-weight: 500; }

.hero__text a span {
  color: white;
  background-color: #f53838;
  padding: 17px 77px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
  border-radius: 10px; }

.hero__image {
  margin-top: 50px; }

.hero__image img {
  width: 90%;
  margin: 0 auto; }

.feature__text--h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  margin-bottom: 2rem; }
.feature__text--p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin-bottom: 2rem; }
.feature__text--list {
  list-style-image: url("./../image/checkbox-circle-fill.svg");
  list-style-position: inside; }
.feature__text--item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #4f5665; }

.feature__image img {
  width: 100%;
  height: 100%; }

.plan {
  margin-top: 8rem;
  padding: 8rem 0;
  background-color: #fbfbfb; }

.plan__text {
  text-align: center; }
  .plan__text--h2 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5rem;
    color: #0b132a;
    margin-bottom: 2rem; }
  .plan__text--p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #4f5665;
    margin-bottom: 6rem; }

.plan__card {
  width: 70%;
  max-width: 330px;
  min-width: 270px;
  margin: 0 auto 30px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #ddd;
  text-align: center; }

.plan__card img {
  height: auto;
  width: auto;
  margin: 80px 0 30px 0; }

.plan__card--h3 {
  font-weight: 500;
  font-size: 1.8rem;
  color: #0b132a; }

.plan__card--list {
  margin-top: 30px;
  height: 270px; }

.plan__card--item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #4f5665;
  margin-bottom: 10px; }
  .plan__card--item:last-child {
    margin-bottom: 0px; }

.plan__card--h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #0b132a;
  margin-bottom: 3rem; }

.plan__card a span {
  font-weight: 700;
  font-size: 1.6rem;
  color: #f53838;
  padding: 13px 64px;
  border: 2px solid #f53838;
  border-radius: 50px; }

.network {
  background-color: #fdfdfd;
  padding: 6rem 0; }

.network--h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  margin-bottom: 2rem; }

.network--p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin-bottom: 10rem; }

.network .container img {
  width: 100%;
  height: auto; }

.customer {
  margin: 80px 0;
  position: relative; }

.customer__title {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  margin-bottom: 2rem; }

.customer__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin-bottom: 6rem; }

.customer__card {
  width: 90%;
  min-width: 290px;
  max-width: 400px;
  height: 240px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 36px 3rem 0;
  margin: 40px auto; }

.card__up {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.card__up img {
  width: 5rem;
  height: auto; }

.card__up p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: #0b132a; }

.card__up p span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4f5665; }

.card__up b {
  font-size: 1.6rem; }

.card__up i {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fea250; }

.customer__card p {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #0b132a; }

footer {
  background-color: #f8f8f8;
  width: 100%;
  padding: 128px 0; }

.footer__social img {
  width: auto;
  height: auto; }

.footer__social p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin: 3rem 0;
  width: 34rem; }

.footer__social p span {
  font-weight: 500; }

.social__media {
  display: flex; }

.social__media div {
  width: 4.5rem;
  height: 4.5rem;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; }

.social__media div i {
  font-size: 3.2rem;
  color: #f53838; }

.footer__list {
  margin-top: 8rem; }

.footer__list--li {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665; }
  .footer__list--li:first-child {
    font-weight: 500;
    font-size: 1.8rem;
    color: #0b132a;
    margin-bottom: 2rem; }

@media (min-width: 426px) and (max-width: 768px) {
  .header__head i {
    font-size: 5.4rem; }

  .header__buttons {
    margin: 80px 0;
    justify-content: space-between; }

  .hero__text--h1,
  .hero__text--p {
    padding-right: 12rem;
    margin: 0 auto; }

  .hero__text--p {
    margin-bottom: 60px; }

  .hero__text a {
    text-align: center;
    display: block;
    margin-bottom: 6rem; }

  .hero__image {
    width: 75vw;
    margin: 0 auto; }

  .feature__text {
    padding: 10rem 0;
    padding-bottom: 5rem; }

  .feature__text--h2,
  .feature__text--p {
    text-align: center;
    margin: 0 auto; }

  .feature__text--p {
    width: 75vw;
    margin: 50px auto; }

  .feature__text--item {
    font-size: 3.6rem;
    margin-bottom: 1.8rem; }

  .plan__cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    scroll-snap-type: x mandatory; }

  .plan__card {
    flex: 0 0 auto;
    margin: 10px;
    width: 70%; }

  .network {
    text-align: center; }

  .network--p {
    width: 65%;
    margin: 0 auto 8rem; }

  .customer__title {
    text-align: center; }

  .customer__text {
    text-align: center;
    width: 80%;
    margin: 0 auto; }

  .footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .list__container {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 769px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 2rem; }

  .header__head i {
    display: none; }

  .header__nav {
    display: block; }

  .header__nav--list {
    display: flex; }

  .header__nav--item {
    margin: 0 25px 0 0; }
    .header__nav--item:last-child {
      margin-right: 0; }

  .header__buttons {
    justify-content: space-between;
    margin-top: 0;
    width: 300px; }

  .hero .container {
    display: flex; }

  .hero__text,
  .hero__image {
    width: 50%; }

  .hero__text {
    padding-top: 4.5rem;
    padding-right: 15.5rem; }

  .feature .container {
    padding-top: 5rem;
    display: flex;
    flex-direction: row-reverse; }

  .feature__text,
  .feature__image {
    width: 50%; }

  .feature__text {
    padding-top: 4rem;
    padding-left: 2rem; }

  .plan__cards {
    display: flex; }

  .network,
  .customer {
    text-align: center; }

  .customer__cards {
    display: flex;
    justify-content: space-between; }

  footer {
    padding: 6.4rem 0; }

  footer .container,
  .list__container {
    display: flex;
    align-items: baseline;
    height: 310px; }

  .list__container {
    margin-left: 40px;
    width: 100%;
    justify-content: space-between; } }

/*# sourceMappingURL=style.css.map */
