* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

.container {
  width: 95%;
  min-width: 290px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visible {
  display: block !important;
}

$title-color: #0b132a;
$text-color: #4f5665;
$primary: #f53838;
